@model AlienSocial.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Friends" asp-action="">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Add">User</a>
    </li>
    <li class="nav-item align-self-end" style="margin-left:auto">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Log Out</a>
    </li>
}

<h1>Delete user</h1>

@{
    var login = ViewBag.Login;
}
<h3>Are you sure you want to delete user with login "@login" ?</h3>

<div>
    <form asp-controller="User" asp-action="Delete" asp-route-login="@login">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>